In [1]:
# Enumerator

num = [1,2,3,4,5,6,7]
for i, n in enumerate(num):
    print(i, n)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [10]:
def square(x):
    return x*x

In [4]:
#MAP
list(map(square, num))

[1, 4, 9, 16, 25, 36, 49]

In [8]:
#LC
[square(x) for x in num]

[1, 4, 9, 16, 25, 36, 49]

In [11]:
#filter
list(filter(square, num))

[1, 2, 3, 4, 5, 6, 7]

In [15]:
sorted(num)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
sorted([9,12,55,2,5,2,43,456,67,32,1], reverse= True)

[456, 67, 55, 43, 32, 12, 9, 5, 2, 2, 1]

In [17]:
sorted(['cat', 'dog', 'cheetah', 'rhino', 'bear'])

['bear', 'cat', 'cheetah', 'dog', 'rhino']

In [22]:
details = [ {'Name':'Uday', 'Age':24, 'Place': 'Ind'},
            {'Name':'Xeo', 'Age':34, 'Place': 'US'},
            {'Name':'Step', 'Age':14, 'Place': 'AUS'} ]

sorted(details, key = lambda animal : animal['Age'])

[{'Name': 'Step', 'Age': 14, 'Place': 'AUS'},
 {'Name': 'Uday', 'Age': 24, 'Place': 'Ind'},
 {'Name': 'Xeo', 'Age': 34, 'Place': 'US'}]

In [32]:
import random
all_words = "all the words in the world".split()
def get_random_word():
    return random.choice(all_words)

def get_words():
    words = []
    for i in range(100):
        words.append(get_random_word())
    return set(words)
get_words()

{'all', 'in', 'the', 'words', 'world'}

In [33]:
def get_better_words():
    word = set()
    for i in range(100):
        word.add(get_random_word())
    return word
get_better_words()

{'all', 'in', 'the', 'words', 'world'}

In [34]:
repe = [9,12,55,2,5,2,43,456,67,32,1]
repe = set(repe)
repe = list(repe)
repe

[32, 1, 2, 67, 5, 456, 9, 43, 12, 55]

In [2]:
li = 'uday'.split()
li

['uday']

In [45]:
def split(text): 
    return [char for char in text]

split('usa')

['u', 's', 'a']

In [48]:
from collections import Counter
words = 'The Thus The Thus This What is you the'.split()
counts = Counter(words)
counts

Counter({'The': 2,
         'Thus': 2,
         'This': 1,
         'What': 1,
         'is': 1,
         'you': 1,
         'the': 1})

In [51]:
str1 = 'malayalam'
str2 = str1[::-1]
str1 == str2

True

In [75]:
#MAP

a = list(map(lambda a: a**2, [1,2,4,6,8]))
print(a)
a_1 = list(map(lambda a, b: a+b, [1,2,4,6,8], [1,3,5,7,9]))
print(a_1)

#FILTER

abc = [1,2,3,4,5,6,7]
a_2 = list(filter(lambda x: (x%2 ==0), abc))
print(a_2)

#REDUCE

from functools import reduce
a_3 = reduce((lambda x,y: x+y), abc)
print(a_3)

[1, 4, 16, 36, 64]
[2, 5, 9, 13, 17]
[2, 4, 6]
28

In [69]:
def primen(x):
    if x>1:
        for i in range(2, x//2):
            if x%i == 0:
                print('not prime')
                break
        else:
                print('Prime')
    else:
        print("not prime")
primen(23)

Prime

In [72]:
def facto(x):
    fact = 1
    if num <= 0:
        print("Error")
    elif num == 0:
        print("factorial is 1")
    else:
        for i in range(1, x+1):
            fact = fact*i
    print(fact)

facto(5)

120

In [149]:
def fibo(n):
    if n == 1 or n == 0:
        return n
    else:
        return fibo(n-1) + fibo(n-2)
fibo(4)

3

In [133]:
#File Operations
import os

#new file
with open('new file.txt', 'w') as nf:
    pass

dir_list = os.listdir()
dir_list

#write in the file
file1 = open('new file.txt', 'w')
file1.write('This is a new file \n')
file1.write('Second line of new file')
file1.close()

#read file
# file1 = open('new file.txt', 'r')

# for text in file1:
#     print(text)

# print(file1.read(25))

# f_txt = file1.readlines()
# f_txt


#Append

file1 = open('new file.txt', 'a')
file1.write("\nThis is the third line of new file")
file1.close()

#read file
file1 = open('new file.txt', 'r')

for text in file1:
    print(text)

This is a new file

Second line of new file

This is the third line of new file

In [141]:
with open('new file.txt', 'r') as f:
    data = f.readlines()
  
    for line in data:
        words = line.split()
        print(words)

['This', 'is', 'a', 'new', 'file']
['Second', 'line', 'of', 'new', 'file']
['This', 'is', 'the', 'third', 'line', 'of', 'new', 'file']

In [142]:
with open('new file.txt') as res:
    count = 0
    text = res.read()
    for ch in text:
        if ch.isupper():
            count += 1
    print(count)

3

In [146]:
# os.remove('junk.txt')

os.listdir()

['.ipynb_checkpoints',
 'new file.txt',
 'Py BAsics.ipynb',
 'UDAY_T_ 2 PAGE.docx']

In [ ]:
li =[1,2,3,4,5]

def rev1(li):
    res = []
    n = len(li)
    for i in range(n):
        print(li[i],li[n-1-i])
        res.append(li[n-1-i])
    return res
print(rev1(li))

In [ ]:
li =[1,2,3,4,5]


def rev2(li):
    rev = []
    n = len(li)
    for i in range(n):
        rev.append(li[n-1-i])
    return rev
print(rev2(li))

In [ ]:

li = [('w',1),('q',3),('a',2)]
sorted(list(li))

In [ ]:
a=(1,2)

In [ ]:
list(a)

In [ ]:
di = {'name':'uday','no':7 }
d2 = {'name':'kumar','address':'bangalore'}

In [ ]:
di['name']=di['name']+d2['name']
di